<section>
  <h1>FIND US AT</h1>
  <div class="location">
    <img src="./../../../../assets/img/LO.png" />
    <p>Kapuzinerstraße 31, München BY 80337</p>
  </div>
  <div class="mapouter">
    <div class="gmap_canvas">
      <iframe
        width="100%"
        height="500"
        id="gmap_canvas"
        src="https://maps.google.com/maps?q=Kapuzinerstra%C3%9Fe%2031,%20M%C3%BCnchen,%20BY%2080337&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
        frameborder="0"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
      ></iframe
      ><a href="https://123movies-i.net">123movies</a><br /><style>
        .mapouter {
          position: relative;
          text-align: right;
          height: 500px;
          width: 100%;
        }</style
      ><a href="https://www.embedgooglemap.net"
        >how to add google maps to a website</a
      ><style>
        .gmap_canvas {
          overflow: hidden;
          background: none !important;
          height: 500px;
          width: 100%;
        }
      </style>
    </div>
  </div>
  <div class="footer-section-main">
    <div class="footer-section-left">
      <img src="./../../../../assets/img/saku.png" />
      <p>SAKURA RAMEN</p>
    </div>
    <div class="footer-section-right">
        <p>Imprint</p>
    </div>
  </div>
</section>
